
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">HitBit.co</a>
          <div class="nav-collapse collapse">
            <p class="pull-right">
              {% if id %}
                <a class="label label-info label-large">{{ id }}</a>
              {% endif %}
                {% if bit > 2 %}
                  <a href="#myModal" role="button" data-toggle="modal" class="btn btn-success">uBTC {{ bit }}</a>
                {% else %}
                  <a href="#" class="btn btn-warning" id="example" rel="tooltip" title="In order to reduce transaction fees: Cumulate at least 3uBTC">uBTC {{ bit }}</a>
                {% endif %}
                  <script>
                  $(function ()
                  { 
                    $("#example").tooltip({
                      'selector': '',
                      'placement': 'bottom'
                    });
                  });
                  </script>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Redeem BitCoins</h3>
  </div>
  <div class="modal-body">
    <p>API Call</p>
    <p>Address: {{ id }}</p>
    <p>uBTC: {{ bit }}</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Send</button>
  </div>
</div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h3>Earn 1{{ reward }} uBTC for this task</h3>
        <form method="POST" action="{% url 'submitwork' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary btn-large">Submit</button>
        </form>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
